/* --------------------------*/
/* import fonts  */
/* --------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


/* --------------------------*/
/* root area  */
/* --------------------------*/

:root {
    --primary-color:#ffe17f; /* theme colors introduced*/
    --secondary-color: #ceff7f;
    --complimentary-color: rgb(0, 140, 255);  
}

/* --------------------------*/
/* body  */
/* --------------------------*/

body {
    font-family: 'Open Sans', sans-serif;  /* fall back font specified */
    
    margin: 0px;  /* overriding 8px value */
  
}

/* --------------------------*/
/* creating top nav bar  */
/* --------------------------*/

.navigation {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    border-radius:1rem;
    
}

/* --------------------------*/
/* for space between two blocks */
/* --------------------------*/


.margins {
    margin-bottom: 1rem;
}

/* --------------------------*/
/* centering title name */
/* --------------------------*/

.titleName { 
    color: var(--complimentary-color);
    text-align:center;
    font-weight: bold;
    font-size: larger;
    margin: auto;
}

/* --------------------------*/
/* aligning the text area */
/* --------------------------*/
#txtarea { 
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    width:500px;
    height: 50px;
    border-radius: 1rem;
    padding: 1rem;
    text-align:justify;
    
}


#txtarea2 { 
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    width:500px;
    height: 50px;
    border-radius: 1rem;
    padding: 1rem;
    text-align:justify;
    
}

/* --------------------------*/
/* To take care of margin auto and insert margins between two elements lets add this  */
/* --------------------------*/
.margins-bottom { 
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

.margins2 {
    margin-bottom: 2.5rem;
}

/* --------------------------*/
/* Button */
/* --------------------------*/

#btn-translate {
    display:block;
    margin: auto;
    background-color: var(--primary-color);
    border-width: 1px;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    font-size:large;
}

/* --------------------------*/
/* Paragraph for minion reply */
/* --------------------------*/

.textinfo { 
    text-align: center;
}

.footer {
    background-color: var(--primary-color);
    padding: 1rem;
    font-weight: bold;
    font-size: large;
    color: var(--complimentary-color);
  /* position: fixed;
    width: 100%;
    bottom: 0; */
}


